---
// Top bar with folio and page number
---

<header class="topbar" role="banner">
  <span class="folio">VOL. 01&nbsp;&nbsp; / &nbsp;&nbsp;PUBLIC EDITION</span>
  <span class="page-no">00</span>
</header>
